<div class="w-full h-screen bg-tezblue flex flex-col justify-between items-center text-white">

    <!-- TOP LOGO -->
    <div class="flex-1 flex flex-col justify-center items-center text-center">

        <img src="/images/logo_white.png" class="h-9 mx-auto" alt="tez.health logo" />

        <h2 class="text-xl font-medium mt-4 tracking-wide">
            Healthcare in minutes !
        </h2>

        <!-- SCOOTER ANIMATION -->
        <div class="relative w-64 h-10 mx-auto mt-6 overflow-hidden">
            <img 
              src="/images/motorcycle.png"
              class="absolute scooter-svg w-10 h-auto"
              alt="scooter"
            />
            <div class="mt-8 w-full border-b border-white/50"></div>
          </div>
          
          
    </div>

    <!-- BOTTOM STATS -->
    <div class="text-center mb-20">
        <div class="flex justify-center space-x-8 text-sm font-light">
            <div>
                <div class="font-semibold text-lg">20,000+</div>
                <div>Customers served</div>
            </div>

            <div class="border-r border-white h-10"></div>

            <div>
                <div class="font-semibold text-lg">4.8 ⭐</div>
                <div>Google Ratings</div>
            </div>
        </div>

        <p class="text-xs opacity-80 mt-8">
            © Tezhealth Pvt. Ltd.
        </p>
    </div>

</div>