<div class="relative">

    <!-- Icon -->
    <span class="absolute inset-y-0 left-4 flex items-center pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 104.65 4.65a7.5 7.5 0 0012 12z" />
        </svg>
    </span>

    <!-- Input -->
    <input type="text" placeholder="Search services eg: injection, Iv fluids, Ecg etc." (input)="onSearch($any($event.target).value)"
        (focus)="showResults = true" (blur)="clear()" class="w-full border rounded-xl px-5 py-3 pl-12 text-sm
         focus:outline-none focus:ring-2 focus:ring-tezblue" />


    <!-- Results -->
    <div *ngIf="showResults" class="absolute z-50 w-full mt-2 bg-white border
              rounded-xl shadow-lg overflow-hidden">

        <div *ngIf="results.length === 0" class="p-3 text-sm text-gray-500">
            No results found
        </div>

        <div *ngFor="let service of results" class="p-3 hover:bg-gray-100 cursor-pointer border-b last:border-b-0"
            (mousedown)="goToDetails(service)">

            <p class="text-sm font-medium text-gray-800">
                {{ service.name }}
            </p>
        </div>

    </div>

</div>