<!-- HEADER -->
<header class="fixed top-0 inset-x-0 z-50 bg-white shadow-sm border-b">
  <nav class="max-w-7xl mx-auto flex items-center justify-between py-3 px-4">

    <!-- LOGO -->
    <a routerLink="" class="flex items-center gap-2">
      <img src="/images/logo_blue.png" class="h-9" alt="tez.health logo" />
    </a>

    <!-- SEARCH DESKTOP -->
    <!-- Desktop Search -->
    <div class="hidden md:flex flex-1 mx-8 justify-center">
      <div class="w-full max-w-2xl">
        <app-search-box></app-search-box>
      </div>
    </div>

    <!-- DESKTOP NAV -->
    <div class="hidden md:flex items-center gap-8 text-sm font-semibold text-gray-800">
      <!-- <a routerLink="/tez-plus" routerLinkActive="text-tezblue" class="hover:text-tezblue">Tez plus</a>
      <a routerLink="/store" routerLinkActive="text-tezblue" class="hover:text-tezblue">Store</a>
      <a routerLink="/profile" routerLinkActive="text-tezblue" class="hover:text-tezblue">Profile</a> -->

      <button routerLink="/tez-plus" routerLinkActive="nav-active" class="group flex items-center gap-2 border border-tezblue 
         px-4 py-1.5 rounded-full
         hover:bg-tezblue hover:text-white transition">
        <img src="/images/verified.png" class="w-4 h-4 nav-icon transition" />
        Tez plus
      </button>

      <!-- <button routerLink="/store" routerLinkActive="nav-active" class="group flex items-center gap-2 border border-tezblue
         px-4 py-1.5 rounded-full
         hover:bg-tezblue hover:text-white transition">
        <img src="/images/shop.png" class="w-4 h-4 nav-icon transition" />
        Store
      </button> -->



    </div>

    <!-- MOBILE MENU BUTTON -->
    <button class="md:hidden" (click)="openMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-7 h-7 text-gray-900">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>

  </nav>
</header>

<!-- Overlay -->
<div *ngIf="isMobileMenuOpen" class="fixed inset-0 bg-black/40 backdrop-blur-sm z-[60] md:hidden" (click)="closeMenu()">
</div>

<!-- Slide Menu -->
<!-- Slide Menu -->
<div class="fixed inset-y-0 right-0 w-72 bg-white shadow-xl z-[999] md:hidden
         transform transition-transform duration-300" [ngClass]="{ 
     'translate-x-0': isMobileMenuOpen, 
     'translate-x-full': !isMobileMenuOpen 
  }">


  <!-- Header -->
  <div class="flex justify-between items-center px-6 py-4 border-b">
    <h2 class="text-lg font-bold text-gray-900">Menu</h2>

    <button (click)="closeMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-7 h-7">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <!-- Menu Items -->
  <div class="flex-1 overflow-y-auto px-4 py-4 space-y-3">

    <a routerLink="/tez-plus" class="block border p-2 rounded-lg text-gray-800 font-medium 
                hover:border-tezblue hover:text-tezblue transition">
      Tez plus
    </a>

    <a routerLink="/store" class="block border p-2 rounded-lg text-gray-800 font-medium 
                hover:border-tezblue hover:text-tezblue transition">
      Store
    </a>
  </div>
</div>