<div class="max-w-7xl px-4 sm:px-6 lg:px-8 py-6 mx-auto">

  <!-- BORDER WRAPPER -->
  <div class="border border-gray-300 rounded-2xl p-4 lg:p-8">

    <!-- Title -->
    <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-bold text-gray-900">
        Partner with Tez.health
      </h2>
    </div>

    <div class="flex flex-col md:flex-row items-center gap-12">

      <!-- Text -->
      <div class="w-full md:w-1/2">
        <div class="max-w-xl mx-auto space-y-6">
          <p class="text-lg text-gray-700 leading-relaxed">
            Join us to bring high-quality, hospital-grade care to people in your neighbourhood while enjoying
            the freedom of flexible work. We are onboarding experienced nurses , doctors, and
            physiotherapists who want to deliver meaningful care at home with the backing of a strong
            clinical and operational team.
          </p>

          <p class="text-lg text-gray-700 leading-relaxed">
            At Tez Health, you can choose your own shifts, earn up to
            ₹50,000 per month, and be part of a trusted healthcare network that is transforming how primary
            and acute care is delivered across the city.If you’re passionate about making healthcare
            accessible and want a rewarding, flexible career, we’d love to have you on our crew.
          </p>

          <button
            class="mt-2 bg-tezblue text-white font-semibold px-6 py-2 rounded-xl shadow hover:bg-tezblue-dark transition">
            Explore
          </button>

        </div>
      </div>

      <!-- Image -->
      <div class="w-full md:w-1/2 flex justify-center md:justify-end">
        <img src="https://images.unsplash.com/photo-1670272505340-d906d8d77d03?auto=format&fit=crop&w=600&q=80"
          class="rounded-2xl w-[320px] sm:w-[380px] md:w-[420px] lg:w-[460px] object-cover shadow-md"
          alt="Partner Image">
      </div>

    </div>

  </div>
</div>