<div class="relative bg-white rounded-2xl overflow-hidden">

    <!-- Image -->
    <div class="w-full h-48 sm:h-56 overflow-hidden rounded-t-2xl" *ngIf="product">
        <img [src]="product.imageUrl" alt="Doctor and patient" class="w-full h-full object-cover" />
    </div>

    <!-- Content -->
    <div class="px-6 py-6">

        <h2 class="text-2xl font-bold text-gray-900 mb-3">
            Speak to our Experts
        </h2>

        <p class="text-gray-600 leading-relaxed mb-4">
            Our trained customer support executives will understand your requirement, collect the necessary details, and assist you in booking the right care—quickly and hassle-free. 
        </p>

        <p class="text-gray-600 leading-relaxed mb-6">
           We are available 24*7.
        </p>

        <!-- Buttons -->
        <div class="grid grid-cols-2 gap-3">

            <!-- Schedule Callback -->
            <button
                class="border border-gray-300 bg-white rounded-lg py-1 font-semibold text-gray-700 text-center shadow-sm hover:bg-gray-100 transition">
                <div class="flex flex-col items-center">
                    <span class="text-base font-semibold" (click)="showCallbackForm = true">Schedule Callback</span>
                    <span class="text-xs text-gray-500">Response Time : 2 hours</span>
                </div>
            </button>

            <!-- Call Now -->
            <button href="tel:+911234567890"
                class="bg-theme-button text-white rounded-lg py-1 font-semibold shadow-md hover:bg-theme-button transition">
                <div class="flex flex-col items-center">
                    <span class="text-base font-semibold">Call Now !</span>
                    <span class="text-xs text-white/80">Response Time : 2 mins</span>
                </div>
            </button>

        </div>

    </div>

</div>

<app-modal
  [isOpen]="showCallbackForm"
  (close)="showCallbackForm = false"
  className="relative w-full max-w-[500px] mx-2 sm:mx-0 rounded-2xl bg-white">

  <app-callback-form
    (formSubmitted)="showCallbackForm = false;formSubmitted.emit()" [product]="product">
  </app-callback-form>

</app-modal>
