<!-- Desktop and tablet: inside card, centered, smaller width -->
<div class="hidden md:flex justify-center mt-6 mb-6">
    <button
      class="w-1/2 bg-theme-button text-white text-center py-3 font-semibold rounded-lg shadow-md hover:bg-theme-button transition"
    >
      Book Now!
    </button>
  </div>
  
  <!-- Mobile: fixed full-width bottom button -->
<div
class="md:hidden fixed bottom-14 left-0 w-full bg-theme-button text-white 
       text-center py-3 font-semibold shadow-lg z-50"
>
Book Now!
</div>

  