<div class="p-4" *ngIf="product">

  <img [src]="product.imageUrl" class="rounded-xl w-full h-56 object-cover" />

  <h2 class="text-lg font-semibold mt-3">
    {{ product.name }}
  </h2>

  <!-- PRICE -->
  <div *ngIf="selectedVariant" class="flex items-center mt-2">
    <span class="text-xl font-semibold">₹{{ selectedVariant.discountPrice }}</span>
    <span class="ml-2 text-xs line-through">₹{{ selectedVariant.price }}</span>
    <span class="ml-2 bg-green-100 text-green-600 text-xs px-2 py-1 rounded-md">
      {{ getDiscountPercentage() }}% OFF
    </span>
  </div>

  <!-- OPTIONS -->
  <div class="mt-3 flex space-x-3" *ngIf="product.variants.length">
    <button *ngFor="let variant of product.variants" (click)="selectVariant(variant)" [ngClass]="{
        'border-blue-600 bg-blue-50 text-blue-600': selectedVariant.variantId === variant.variantId,
        'border-gray-300 text-gray-600': selectedVariant.variantId !== variant.variantId
      }" class="border rounded-lg px-4 py-1 text-sm">
      {{ variant.variantName }}
    </button>
  </div>

</div>