<!-- ========== FOOTER ========== -->
<footer class="mt-auto bg-gray-900 w-full dark:bg-neutral-950 pb-16 md:pb-0">
  <div class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 lg:pt-20 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 place-items-center">
      <div class="col-span-full lg:col-span-1">
        <a routerLink="" class="flex items-center gap-2">
          <img src="/images/logo_white.png" class="h-9" alt="tez.health logo" />
          <!-- <span class="font-bold text-xl text-gray-900">Tezhealth</span> -->
        </a>
      </div>
      <!-- End Col -->

      <div class="col-span-1">
        <h4 class="font-semibold text-gray-100">Product</h4>

        <div class="mt-3 grid space-y-3">
          <p><a
              class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 focus:outline-hidden focus:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              routerLink="/about-us">About Us</a></p>
          <p><a
              class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 focus:outline-hidden focus:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              routerLink="/contact">Contact Us</a></p>

          <p><a
              class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 focus:outline-hidden focus:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              routerLink="/join-us">Join Us</a></p>

        </div>
      </div>
      <!-- End Col -->

      <div class="col-span-1">
        <h4 class="font-semibold text-gray-100">Company</h4>

        <div class="mt-3 grid space-y-3">
          <p><a
              class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 focus:outline-hidden focus:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              routerLink="/terms">Terms</a></p>
          <p><a
              class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 focus:outline-hidden focus:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              routerLink="/refund-cancellation-policy">Refund & Cancellation Policy</a></p>
          <p><a
              class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 focus:outline-hidden focus:text-gray-200 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              routerLink="/privacy-policy">Privacy Policy</a></p>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-span-2">
        <h4 class="text-center md:text-left md:ml-3 font-semibold text-gray-100">
          Follow us
        </h4>

        <div>
          <a class="size-10 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-white hover:bg-white/10 focus:outline-hidden focus:bg-white/10 disabled:opacity-50 disabled:pointer-events-none"
            href="https://www.facebook.com/share/1Zgx91kvaS/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              viewBox="0 0 16 16">
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
            </svg>
          </a>
          <!-- X (Twitter) -->
          <a class="size-10 inline-flex justify-center items-center rounded-lg text-white hover:bg-white/10"
            href="https://x.com" target="_blank" rel="noopener noreferrer">
            <!-- X icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M18.244 2H21l-6.543 7.482L22 22h-6.828l-5.35-7.1L3.9 22H1l7.004-8.004L2 2h6.828l4.82 6.4L18.244 2z" />
            </svg>
          </a>

          <!-- YouTube -->
          <a class="size-10 inline-flex justify-center items-center rounded-lg text-white hover:bg-white/10"
            href="https://youtube.com/@tezhealth?si=kgLD3FYObaglZexc" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M23.498 6.186a2.958 2.958 0 0 0-2.08-2.09C19.547 3.5 12 3.5 12 3.5s-7.547 0-9.418.596a2.958 2.958 0 0 0-2.08 2.09A30.02 30.02 0 0 0 0 12a30.02 30.02 0 0 0 .502 5.814 2.958 2.958 0 0 0 2.08 2.09C4.453 20.5 12 20.5 12 20.5s7.547 0 9.418-.596a2.958 2.958 0 0 0 2.08-2.09A30.02 30.02 0 0 0 24 12a30.02 30.02 0 0 0-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z" />
            </svg>
          </a>

          <!-- Instagram -->
          <a class="size-10 inline-flex justify-center items-center rounded-lg text-white hover:bg-white/10"
            href="https://www.instagram.com/tez.health?igsh=NjM5OWx4M3Z6Mmk3" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M7 2C4.243 2 2 4.243 2 7v10c0 2.757 2.243 5 5 5h10c2.757 0 5-2.243 5-5V7c0-2.757-2.243-5-5-5H7zm10 2c1.654 0 3 1.346 3 3v10c0 1.654-1.346 3-3 3H7c-1.654 0-3-1.346-3-3V7c0-1.654 1.346-3 3-3h10zm-5 3a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6zm4.5-.75a1.25 1.25 0 11-2.5 0 1.25 1.25 0 012.5 0z" />
            </svg>
          </a>


          <a class="size-10 inline-flex justify-center items-center text-white hover:bg-white/10 rounded-lg"
            href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M1.146 1.146C.77 1.52.52 2.026.52 2.56c0 .533.25 1.04.626 1.414.375.375.88.625 1.414.625.533 0 1.04-.25 1.414-.625C4.35 3.6 4.6 3.094 4.6 2.56c0-.533-.25-1.04-.626-1.414A1.986 1.986 0 0 0 2.56.52c-.533 0-1.04.25-1.414.626zM.72 5.333h3.68v10.133H.72V5.333zm5.333 0h3.52v1.373h.053c.493-.933 1.707-1.92 3.52-1.92 3.76 0 4.453 2.48 4.453 5.706v6.974h-3.68V11.04c0-1.626-.027-3.72-2.266-3.72-2.266 0-2.613 1.76-2.613 3.586v5.56H6.053V5.333z" />
            </svg>
          </a>
        </div>

      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->

    <div class="mt-3 sm:mt-12 grid gap-y-2 sm:gap-y-0 sm:flex justify-center sm:items-center">
      <div class="flex flex-wrap justify-between items-center gap-2">
        <p class="text-sm text-gray-400 dark:text-neutral-400">
          © 2026 TezHealth Pvt Ltd.
        </p>
      </div>
      <!-- End Col -->

      <!-- Social Brands -->

      <!-- End Social Brands -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->